<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

    <!-- Icons -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://web.whatsapp.com/favicon-64x64.ico">

    <!-- Main css link -->
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
    <!-- Window title -->
    <title>Boolzapp</title>
</head>
<body>
    <div id="root" :class="{dark: darkMode}">
        <div class="container" :class="{dark: darkMode}">
            <!-- CONTACTS BAR -->
            <div class="contacts-bar">
                <!-- Bar-header -->
                <section class="header" :class="{dark: darkMode}">
                    <!-- Left -->
                    <ul class="header-left flex-list">
                        <li class="img-wrap"><a href="#"><img src="./img/avatar_io.jpg" alt="my-avatar"></a></li>
                        <li class="xs-hidden"><a href="#"><h3>Emiliano</h3></a></li>
                    </ul>
                    <!-- Right -->
                    <ul class="header-right flex-list">
                        <li class="sm-hidden"><i class="fas fa-circle-notch"></i></li>
                        <li class="sm-hidden"><i class="fas fa-comment-alt"></i></li>
                        <!-- Dark-menu -->
                        <li class="dark-menu">
                            <i class="fas fa-ellipsis-v"
                                @click="hover = !hover"
                            ></i>
                            <ul class="dark-dropdown flex-list"
                                :class="{dark: darkMode}"
                                mouseenter="hover = true"
                                @mouseleave="hover = false"
                                v-show="hover"
                            >
                                <li :class="{dark: darkMode}" @click="changeMode">{{this.textMode}} Mode</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- Notification-bar -->
                <section class="notification-bar xs-justify-center" :class="{dark: darkMode}">
                    <div class="img-wrap"
                        @click="switchNotification"
                    >
                        <i class="fas fa-bell-slash" :class="{dark: darkMode}" v-show="!switchBell"></i>
                        <i class="fas fa-bell" :class="{dark: darkMode}" v-show="switchBell"></i>
                    </div>
                    <div class="active-noti-wrap">
                        <h4 class="xs-hidden">Ricevi notifiche di nuovi messaggi</h4>
                        <a class="gray-text sm-hidden" :class="{dark: darkMode}" href="#"
                            @click="switchNotification"
                        >{{this.changeNotificationText}} notifiche desktop
                        </a>
                    </div>
                </section>
                <!-- Find new chat -->
                <section class="find-chat-wrap" :class="{dark: darkMode}">
                    <button class="sm-hidden"
                        :class="{dark: darkMode}"
                        @click="findContact"
                    >
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="text" class="find-chat" placeholder="Cerca o inizia una nuova chat"
                        v-model="findContactName"
                        @keyup="findContact"
                        :class="{dark: darkMode}"
                    >
                </section>
                <!-- Contacts -->
                <section class="contact-list-wrap">
                    <ul class="contacts-list flex-list">
                        <li class="contact xs-justify-center"
                            v-for="(contact, index) in contacts"
                            :key="index"
                            @click="getContactID(index)"
                            :class="{active: index == falseIndex, dark: darkMode}"            
                            v-show="contact.visible"
                        >
                            <a class="img-wrap" href="#"><img :src="'./img/avatar' + contact.avatar + '.jpg'" alt="contact-avatar"></a>
                            <h3 class="xs-hidden">{{contact.name}}</h3>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- LANDING PAGE-->
            <div class="landing-page" v-show="!showChatToggle">
                <div class="layover" :class="{dark: darkMode}">
                    <h1>
                        <span>Welcome to</span><br>
                        <strong>Boolzapp</strong>
                    </h1>
                    <div class="start-conversation">Select a contact to start a conversation!</div>
                </div>
            </div>
            <!-- CHAT -->
            <div class="chat-wrap" :class="{dark: darkMode}" v-show="showChatToggle">
                <!-- Chat-header -->
                <header class="header" :class="{dark: darkMode}">
                    <!-- Left -->
                    <ul class="header-left flex-list">
                        <li class="img-wrap">
                            <a href="#"><img :src="'./img/avatar' + this.contacts[this.currentIndex].avatar + '.jpg'" alt="contact-avatar"></a>
                        </li>
                        <li>
                            <a href="#"><h3>{{this.contacts[currentIndex].name}}</h3></a>
                            <a v-if="this.contacts[currentIndex].lastConnection" href="#"><div class="last-connection gray-text" :class="{dark: darkMode}">Ultimo acceso oggi alle {{this.contacts[currentIndex].lastConnection}}</div></a>
                        </li>
                    </ul>
                    <!-- Right -->
                    <ul class="header-right flex-list">
                        <li><i class="fas fa-search"></i></li>
                        <li><i class="fas fa-paperclip"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </header>
                <!-- Chat-main -->
                <main :class="{dark: darkMode}">
                    <div class="close-chat"
                        @click="closeChat"
                    >X</div>
                    <div class="main-scrollable" ref="scrollToEnd">
                        <div :class="element.status + '-wrap'"
                            v-for="(element, index) in this.contacts[this.currentIndex].messages"
                            :key="index"
                        >
                            <div :class="[element.status, {dark: darkMode}]">
                                {{element.message}}
                                <span class="info-time">{{element.date}}</span>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                <footer class="emoticon-menu" :class="{dark: darkMode}">
                    <i class="far fa-smile"
                        @click="showEmoticon"
                    ></i>
                    <div class="emoticon-dropdown" v-show="showEmoji" :class="{dark: darkMode}">
                        <div class="emoticon-title">
                            <h6>Emoji</h6>
                        </div>
                        <div class="emoji-wrap">
                            <ul class="emoji-list">
                                <li v-for="(emoticon,index) in emoticons"
                                    @click="selectEmoji(index)"
                                >{{emoticon}}</li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" placeholder="Scrivi un messaggio"
                        v-model="inputChatText"
                        @keyup.enter="submitInputText"
                        :class="{dark: darkMode}"
                    >
                    <i class="fas fa-microphone"></i>
                </footer>
            </div>
        </div>
    </div>

    <!-- JS -->
    <!-- DayJS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/customParseFormat.js"></script>
    <!-- Main JS -->
    <script src="./js/main.js"></script>
</body>
</html>